<h1>New dose for the cocktail : <%= @cocktail.name %></h1>

<%= simple_form_for ([@cocktail, @dose]) do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <%= f.submit "Add dose & ingredient to the cocktail" %>
<% end %>
